{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<style>
     body {
        background-color: rgba(139, 141, 136, 0.404);
        padding: 400px;
     }
     .btn{
    border-radius: 10px;
  }
</style>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><em>Join Herbalexpress</em></legend>
            {{ form|crispy }}
        </fieldset>

        By registering, you accept the Terms of Service and Privacy Notice

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" style="color: brown;" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}